.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

lc-shift-box {
    flex: 1 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid royalblue; 
    overflow: scroll;
}

.background>p {
    margin: 10px;
    user-select: none;
}

.background{
    position: absolute; 
    width: 2000px; 
    height: 1000px; 
    background-image: url('/assets/grid.png');
}

.child1 {
    position: absolute;
    border: 1px dashed coral;
    width: 200px;
    height: 100px;
    left: 50px;
    top: 100px;
    background-color: blueviolet;
}

.child1>p {
    margin: 10px;
}

.child2 {
    position: absolute;
    border: 1px dashed blueviolet;
    width: 200px;
    height: 200px;
    left: 50px;
    top: 250px;
    background-color: greenyellow;
}

.child2 .hook {
    margin: 20px;
    background-color: coral;
    border: 1px dashed black;
    height: 40px;
}

.hook p {
    margin: 10px;
    background-color: yellow;
    border: 1px dashed black;

}

.child2 .content {
    position: relative;
    margin: 20px;
    background-color: deepskyblue;
    border: 1px dashed black;
    
}
.content p {
    margin: 10px;
}

.child3{
    position: absolute;
    border: 1px dashed greenyellow;
    width: 200px;
    height: 200px;
    left: 300px;
    top: 100px;
    padding: 10px;
    background-color: mediumvioletred;
}

.child3 p {
    margin: 0px;
    margin-bottom: 10px;
    border: 1px dashed greenyellow;
}